body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

img {
    width: 160vw;
    height: 160vh;
    max-width: 100%;
    max-height: 100%;
}